{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <h1>Commandes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ commande.montant }}</td>
            </tr>
            <tr>
                <th>StartAt</th>
                <td>{{ commande.startAt ? commande.startAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ commande.endAt ? commande.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ commande.createAt ? commande.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commandes_index') }}">back to list</a>

    <a href="{{ path('app_commandes_edit', {'id': commande.id}) }}">edit</a>

    {{ include('commandes/_delete_form.html.twig') }}
{% endblock %}
